:root{
    --primary-color:#0a0d14;
    --primary-color-light:#20242f;
    --secondary-color:#f49e09;
    --extra-light:rgba(255,255,255,0.5);
    --white:#ffffff;
    --max-width:1200px;
    --header-font: "Lisu Bosa",serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.section_container{
    max-width:var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    font-size: 2rem;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    text-align: center;
}

.section_subheader{
    max-width: 600px;
    margin:auto;
    text-align: center;
}

.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor:pointer;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    margin-right: 100px;
}

html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins",sans-serif;
    color: var(--white);
    background-color: var(--primary-color);
}
header{
    background-image: linear-gradient(to top, var(--primary-color),transparent),url("final.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    background-color: rgba(0,0,0, .5);
    border-bottom: 1px solid var(--extra-light);

}
.nav_bar{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_logo a{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.nav_link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.link a{
    padding: 1.5rem 5px;
    font-weight: 500;
    color: var(--white);
    transition:0.3s;
    
}
.btn1{
    background-color: #f49e09;
    width: 50px;
}
.link span{
    padding: 1rem 0;
    color: var(--white);
    cursor: pointer;
}
.link{
    list-style: none;
}

.link a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);

}
.link span:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);

}
.header_container{
    padding: 12rem 1rem;

}
.header_container h1{
    margin-bottom: 1rem;
    max-width: 700px;
    font-size: 4rem;
    font-family: var(--header-font);
}

.header_container h4{
    position: relative;
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.header_container h4::after{
    position: absolute;
    content: "";
    left: -3rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 2rem;
    background-color: var(--white);
}

.about_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    align-items: center;

}
.about_container :is(.section_header,.section_subheader)
{
    text-align: left;
}
.about_flex{
    margin:2rem 0;
    padding:2rem 1rem;
    display: flex;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
    background-color: var(--primary-color-light);   
}

.about_card{
    flex: 1 1 150px;
    text-align: center;
    border-right: 2px solid var(--primary-color);
}

.about_card:last-child{
    border: none;
}

.aabout_card h4{
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--header-font);
}

.about_card p{
    font-size: 0.9rem;
}

.about_image img{
    max-width: 450px;
    margin:auto
}
.discover_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}

.discover_card{
    max-width: 320px;
    margin:auto;
}
.discover_card:nth-child(2){
    transform: translateY(5rem);
}
.discover_image{
    position:relative;
}

.discover_image::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top,var(--primary-color),transparent);

}

.discover_card_content{
    padding:0 2rem;
    transform: translateY(-50%);
}

.discover_card_content h4{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--secondary-color);
}
.discover_card_content p{
    margin-bottom: 2rem;
}

.discover_btn{
    padding:0.75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    cursor:pointer;
}

.journals_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.journals_content{
    padding: 2rem;
    background-color: var(--primary-color-light);

}
.journals_author{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.journals_author img{
    max-width: 30px;
    border-radius: 100%;
}

.journals_author p{
    font-size: 0.9rem;
    opacity: 0.75;
}

.journals_content h4{
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.jounals_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.jounals_footer p{
    font-size: .9rem;
    opacity: .5;
}
.journals_footer span a{
    font-size: 1.5rem;
    color: var(--white);
    opacity: .75;
}
.journals_btn{
    margin-top: 4rem;
    text-align: center;
}


.contact{
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.05),
        transparent
    );
}

.contact_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
}

.contact_card {
    max-width: 250px;
    margin: auto;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    text-align: center;
    border: 1px solid var(--extra-light);
    border-radius: 100%;
    cursor:pointer;
}

.contact_card span{
    margin-bottom: 1rem;
    font-size: 2rem;
    transition: 0.3s;
}

.contact_card:hover span{
    color: var(--secondary-color);
}

.contact_col h4{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: var(--header-font);
}

.contact_col h5{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--header-font);
}

.footer_container{
    text-align: center;
}
.footer_container h4{
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer_socials{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .5rem;
}

.footer_socials span a{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

.footer_socials span a:hover{
    color: var(--secondary-color);

}

.footer_container{
    max-width: 600px;
    margin: auto;
    margin-bottom: 4rem;
}

.footer_nav {
   list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.footer_link a{
    font-weight: 500;
    color: var(--white);
}

.footer_link a:hover{
    color: var(--secondary-color);
}

.footer_bar {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid var(--extra-light);
}